*:focus {
    outline: 0;
}

.mainsearch{
    margin: auto 0; 
    width: 100%;
    margin-top: 10%;
}

.mainsearchtwo{
    margin: auto;
    text-align: center;
}

.searchboxone, .submitone {
    padding: 10px;
}

.searchboxtwo{
    border: 1px solid gainsboro;
    border-radius: 80px;
    padding: 15px;
    width: 40%;  
}

.searchboxtwo[type=text]{
    background-image: url('images/searchicon.png');
    background-size: 20px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.searchboxthree{
    width: 40%;
    padding: 5px;
}

.advancedcontainer{
    width: 82%;
    margin-left: 3%;
    padding-top:30px;
}
ul.navlinks, a {
    list-style-type: none;
    text-align: right;
}
li a{
    text-decoration: none;
    display: inline;
}

#find{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
}

#containertwo{
    float: right;
    margin-top: -2%;
    margin-right: 12%;
    font-family: Arial;
    color: #777777;
    font-size: 13px;
    font-weight: bold;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #d93025;
    margin-left: 3%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    background-color: #F9FAFB;
    border: none;
    width: 130px;
    height:40px;
    font-family: arial;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; 
    margin-top: 5px; 
}

.buttons:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.logo{
    height: 45px;
    width: auto;
    background-color: #f1f1f1;
    margin-top: -8px;
}

.logotwo{
    margin-left: 1%;
}

.advancedbutton{
    background-color: #4589F7;
    font-family: Arial;
    font-size: 13px;
    color: #ffffff;
    padding: 7px 12px;
    border: none;
    float: right;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 4px;
}

.advancedbutton:hover{
    background-color: #397EEC;
}

div .search{
    padding-top: 15px;
}

input .search{
    margin: 0;
    display: inline-block;
}

.searchinput{
    display:inline-block;
    height: 25px;
    width: 55%;
    border: 1px solid #C0C0C0;
}

.searchinput1{
    height: 25px;
    width:24.5%;
    margin-left:4%;
    border: 1px solid #C0C0C0;
}


label{
    font-family: Arial;
    font-size: 13px;
}

div .searchtips{
    float: right;
    font: Arial;
    font-size: 12px;
    color: #555;
    text-align: left;
    width: 300px;
}

#tip{
    margin-top: -2.5%;
}

span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
}

#search1{
    margin-left: 8%;
}

#search2{
    margin-left: 2.5%;
}

#search3{
    margin-left:7.2%;
}

#search4{
    margin-left: 5.5%;
}

#search5{
    margin-right: 15%;
}










